* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, "sans-serif";
    background: rgb(230, 230, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(215, 114, 6);
}
.vieww {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 800px;
    margin: 140px;
    padding: 20px 0px;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 10px;
}
.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.grid-item h2 {
    font-size: 3em;
    color: #FFD700;
}
.grid-item p {
    font-size: 1em;
    margin: 15px 0;
}
.grid-item a {
    font-size: 1.2em;
    color: #26251d;
    border-bottom: 2px solid #26251d;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.grid-item a:hover {
    border-bottom: 2px solid #FFD700;
}
footer {
    font-size: 1em;
    color: white;
    text-align: center;
}